// Navigation
div.navbar.navbar-default.navbar-fixed-top.header(role="navigation")
    - // Brand and toggle get grouped for better mobile display
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle Navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand.navbar-logo(href="#")
                span.navbar-logo-txt ECG Cloud Platform
        div.navbar-collapse.collapse#navbar
            ul.nav.navbar-nav.navbar-right
                li.dropdown(role="presentation")
                    a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                        span.glyphicon.glyphicon-user
                        span.userName
                        span.caret
                        ul.dropdown-menu
                            li
                                a.menu-link(href="#") 个人信息
                            li.divider(role="separator")
                            li
                                a.menu-link(href="#")
                                    span.glyphicon.glyphicon-off
                                    &nbsp;退出登录
        - // Sidebar Menu Items
        div.collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.side-nav
                - // 定义导航栏状态
                - var parent_task = 'collapse';
                - var child_clinic = '';
                - var child_uncheckTask = '';
                - var child_allTask = '';
                - var child_team = '';
                - var child_person = '';
                if nav_parent == 'task'
                    - parent_task = 'collapse in';
                    if nav_child == 'clinic'
                        - child_clinic = 'active';
                    else if nav_child == 'uncheck'
                        - child_uncheckTask = 'active';
                    else if nav_child == 'alltask'
                        - child_allTask = 'active';
                else if nav_parent == 'team'
                    - child_team = 'active';
                else
                    - child_person = 'active';

                li
                    a(href="javascript:void(0);", data-toggle="collapse", data-target="#task-drop", aria-expanded="true")
                        span 任务管理
                        span.caret
                    ul#task-drop(class=parent_task)
                        li(class=child_clinic)
                            a(href="#") 检查单任务
                        li(class=child_uncheckTask)
                            a(href="#") 待审核任务
                        li(class=child_allTask)
                            a(href="#") 所有任务
                li(class=child_team)
                    a(href="#") 团队管理
                li(class=child_person)
                    a(href="#") 个人信息

